[user]
	name = Henry Wang
	email = wanghenry1998@gmail.com
	credentials = store
[core]
	autocrlf = input
	eol = lf
[push]
	default = simple
[credentials]
	helper = store
[credential]
	helper = store
[pull]
	rebase = false
[init]
	defaultBranch = master
